HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
GameOn-Backend/.gradle/8.10.2/executionHistory/executionHistory.bin
GameOn-Backend/.gradle/8.10.2/executionHistory/executionHistory.lock
GameOn-Backend/.gradle/8.10.2/fileHashes/fileHashes.bin
GameOn-Backend/.gradle/8.10.2/fileHashes/fileHashes.lock
GameOn-Backend/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
GameOn-Backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
GameOn-Backend/.gradle/buildOutputCleanup/outputFiles.bin
.gitignore
GameOn-Backend/.gradle/8.10.2/executionHistory/executionHistory.bin
GameOn-Backend/.gradle/8.10.2/fileHashes/fileHashes.bin
GameOn-Backend/.gradle/8.10.2/executionHistory/executionHistory.lock
GameOn-Backend/.gradle/8.10.2/fileHashes/fileHashes.lock
GameOn-Backend/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
GameOn-Backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
GameOn-Backend/.gradle/buildOutputCleanup/outputFiles.bin
GameOn-Backend/bin/main/application.properties
GameOn-Backend/.settings/org.eclipse.buildship.core.prefs
